body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  color: rgb(53, 111, 198);
}
.container {
  background-color: rgb(161, 161, 212);
}

.input {
  border: 2px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 7em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
